
@{
    ViewData["Title"] = "Explore";
    Layout = "_LoggedInLayout";

}

<div class="container mt-5 d-flex justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">No Profiles to display</h5>
                <p class="card-text">If your seeing this page, this is awkward. We have no profiles to display currently.</p>
            </div>
        </div>
    </div>
</div>