@model ChristanCrush.Models.UserModel

@{
    Layout = "_LoggedInLayout";
}


<div class="container" style="margin-top:3em;">

<div>
    <h4>Login Success!</h4>
    <hr />
    <dl class="row">
        <h5>Welcome, back</h5> 
    </dl>
    <p style="font-family: 'Segoe UI', sans-serif;">Your can proceed to use the Christian Crush</p>
</div>
</div>
