@model ChristanCrush.Models.UserModel

<div class="container" style="margin-top:3em;">

<div>
    <h4>You failed to login</h4>
    <hr />
    <p style="font-family: 'Segoe UI', sans-serif;">@Model.email and @Model.password was incorrect</p>
</div>
</div>
