@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

.text-white {
    color: white;
}

.offcanvas-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.offcanvas-title {
    flex-grow: 1;
    text-align: center;
}
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-flex justify-content-center w-100">
            <a class="navbar-brand" href="#">Christian Crush</a>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Offcanvas Menu -->
<div class="offcanvas offcanvas-start bg-primary" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header d-flex align-items-center w-100">
        <h5 class="offcanvas-title mx-auto text-white" id="offcanvasMenuLabel">Hi User,</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-flex flex-column">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                    <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index">View Profile</a>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Explore</h5>
                    <a class="nav-link" asp-area="" asp-controller="Match" asp-action="Index">View Others</a>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Matches</h5>
                    <a class="nav-link" asp-area="" asp-controller="Match" asp-action="ViewMatches">View Matches</a>
                </div>
            </div>
        </div>
    </div>
</div>