@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid custom-top-margin">
    <div class="row justify-content-around">
        <div class="col-md-4 text-center">
            <div class="p-2">
                <img src="~/img/cover1.png" alt="Cover 3" class="img-fluid">
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="p-2">
                <img src="~/img/cover2.png" alt="Cover 3" class="img-fluid">
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="p-2">
                <img src="~/img/cover3.png" alt="Cover 3" class="img-fluid">
            </div>
        </div>
    </div>
</div>

